.popup-tarif.popup
    .popup-tarif__content
        span.popup-tarif__close-svg
        .popup-tarif__container
            //- .popup-tarif__body
            .title-block.container--m
                h1.title-block__title Требования к заемщику

            .mortgage-tabs.mortgage-tabs--m
                .container--m
                    ul.tabs(data-tabgroup='tab-container-2')
                        li.tab-link.current(data-tab='tab-1-2') Заемщики или созаемщики, участвующие доходами
                        li.tab-link(data-tab='tab-2-2') Нифинансовый созаемщик

            .mortgage-tab-container#tab-container-2
                #tab-1-2.tab-content.current
                    .popup-tarif__text.container--m
                        .popup-tarif__actions
                            .popup-tarif__action-item
                                .popup-tarif__action-svg.action-print
                            .popup-tarif__action-item
                                .popup-tarif__action-svg.action-mail
                                .tooltip-mail
                                    .tooltip-mail__name.grey-color Электронная почта
                                    input.tooltip-mail__input
                                    .tooltip-mail__button Отправить
                            .popup-tarif__action-item
                                .popup-tarif__action-svg.action-share
                                .popup-share.popup-share_p
                                    .popup-share__icons
                                        a.popup-share__icon(href='')
                                            i.fa.fa-facebook
                                        a.popup-share__icon(href='')
                                            i.fa.fa-vk
                                        a.popup-share__icon(href='')
                                            i.fa.fa-twitter
                                        a.popup-share__icon(href='')
                                            i.fa.fa-google
                                    .popup-share__copy
                                        a(href='') Копировать ссылку
                        h2.popup-tarif__text-h2 Лица
                        p Созаемщиком могут выступать:
                        ul.popup-tarif__list--ul
                            li.popup-tarif__list-item официальный супруг(а),
                            li.popup-tarif__list-item «гражданский» супруг(а).
                        p В случае рефинансирования кредита, выданного под залог приобретаемой недвижимости:
                        ul.popup-tarif__list--ul
                            li.popup-tarif__list-item близкие
                                span.span-tooltip родственники
                                    span.span-tooltip__inner Без наделения собственностью?в залоговом имуществе.
                                |  Заемщика или супруга(и), гражданского(ой) супруга(и) Заемщика?(при условии что он(а) выступает Созаемщиком по кредитному договору):
                            li.popup-tarif__list-item.list-style-empty родители,
                            li.popup-tarif__list-item.list-style-empty дети,
                            li.popup-tarif__list-item.list-style-empty братья или сестры.

                        h2.popup-tarif__text-h2 Требования
                        h3.popup-tarif__text-h3 Возраст
                        p С обязательным заключением комбинированного договора ипотечного страхования:
                        ul.popup-tarif__list--ul
                            li.popup-tarif__list-item от 21 года на момент подачи документов на кредит и не должен превышать 65 лет на момент окончания действия кредитного договора.
                        p Без обязательного заключения комбинированного договора ипотечного страхования:
                        ul.popup-tarif__list--ul
                            li.popup-tarif__list-item от 21 года на момент подачи документов на кредит и не должен превышать 60 лет на момент окончания действия кредитного договора.
                        h3.popup-tarif__text-h3 Гражданство
                        p Любое государство
                        h3.popup-tarif__text-h3 Фактическое место жительства
                        p В пределах административных границ (республики, области, края) региона присутствия кредитующего подразделения Банка.
                        h3.popup-tarif__text-h3 Регистрация
                        p Постоянно зарегистрированы на территории Российской Федерации или временно в регионе, где представлено кредитующее подразделение банка.
                        h3.popup-tarif__text-h3 Минимальный стаж работы
                        p Физические лица, работающие по найму:
                        ul.popup-tarif__list--ul
                            li.popup-tarif__list-item не менее 6 месяцев при общем трудовом стаже не менее 1 года.
                            li.popup-tarif__list-item не менее 3 месяцев при общем трудовом стаже не менее 2 лет.
                            li.popup-tarif__list-item не менее 1 года, если данное место работы первое для заемщика.
                        p Нотариусы, занимающиеся частной практикой, адвокаты с собственным адвокатским кабинетом: профессиональная деятельность должна вестись не менее 1 финансового года.
                        p Владельцы, совладельцы бизнеса, индивидуальные предприниматели: деятельность компании должна вестись не менее 3 финансовых лет.
                        h3.popup-tarif__text-h3 Наличие телефона
                        p Рабочий телефон, а также домашний или мобильный обязательно.
                        h3.popup-tarif__text-h3 Минимальный доход заемщика
                        ul.popup-tarif__list--ul
                            li.popup-tarif__list-item 20 000 рублей — для Москвы и МО, Санкт-Петербурга и ЛО, Екатеринбурга, Магадана, Сургута, Тюмени, по основному месту работы после налогообложения.
                            li.popup-tarif__list-item 15 000 рублей для остальных кредитующих подразделений банка.
                        h3.popup-tarif__text-h3 Минимальный доход созаемщика
                        ul.popup-tarif__list--ul
                            li.popup-tarif__list-item 10 000 рублей — по основному месту работы после налогообложения.

                        h2.popup-tarif__text-h2 Кредитная история
                        ol.popup-tarif__list--ol
                            li.popup-tarif__list-item Отсутствие плохой кредитной истории
                            li.popup-tarif__list-item Действующие кредиты
                        p
                            | Не должен иметь более 2 ипотечных кредитов АО «Райффайзенбанк» или других банков ?(с учетом вновь
                            a(href='').popup-tarif__text-link одобряемого
                            | ).
                #tab-2-2.tab-content
                    .popup-tarif__text.container--m
                        .popup-tarif__actions
                            .popup-tarif__action-item
                                .popup-tarif__action-svg.action-print
                            .popup-tarif__action-item
                                .popup-tarif__action-svg.action-mail
                                .tooltip-mail
                                    .tooltip-mail__name.grey-color Электронная почта
                                    input.tooltip-mail__input
                                    .tooltip-mail__button Отправить
                            .popup-tarif__action-item
                                .popup-tarif__action-svg.action-share
                                .popup-share.popup-share_p
                                    .popup-share__icons
                                        a.popup-share__icon(href='')
                                            i.fa.fa-facebook
                                        a.popup-share__icon(href='')
                                            i.fa.fa-vk
                                        a.popup-share__icon(href='')
                                            i.fa.fa-twitter
                                        a.popup-share__icon(href='')
                                            i.fa.fa-google
                                    .popup-share__copy
                                        a(href='') Копировать ссылку
                        h2.popup-tarif__text-h2 Созаемщик
                        p Созаемщиком могут выступать:
                        ul.popup-tarif__list--ul
                            li.popup-tarif__list-item официальный супруг(а)
                        h2.popup-tarif__text-h2 Требования
                        h3.popup-tarif__text-h3 Возраст
                        p От 18 лет на момент подачи документов на кредит и до 70 лет на момент окончания действия кредитного договора.
                        h3.popup-tarif__text-h3 Гражданство
                        p Любое государство.
                        h3.popup-tarif__text-h3 Кредитная история
                        p Отсутствие плохой кредитной истории.
                        h3.popup-tarif__text-h3 Дополнительно
                        p Согласие созаемщика на получение данных из БКИ для получения одобрения кредита.
