//
   Created by renat on 23.05.17.

mixin conditions()
    .conditions.container&attributes(attributes)

mixin condition(title, text)
    .conditions__row
        .conditions__title
            h3!= title
        .conditions__desc
            each val in text
                p!= val

//.conditions.container
//    .conditions__row
//        .conditions__title
//            h3 Сроки ипотеки
//        .conditions__desc
//            p
//                span.span-yellow от 1 до 25 лет
//                |  — при рефинансировании кредита, выданного на цели приобретения недвижимости под залог приобретаемой недвижимости или недвижимости в собственности,
//            p
//                span.span-yellow от 1 до 15 лет
//                |  — при рефинансировании кредита, выданного на любые цели (за исключением предпринимательских целей) под залог иной жилой недвижимости в собственности.
//    .conditions__row
//        .conditions__title
//            h3 Валюта кредита
//        .conditions__desc
//            p Рубли РФ.
//    .conditions__row
//        .conditions__title
//            h3 Комиссия
//        .conditions__desc
//            p Без комиссий за рассмотрение заявки и выдачу кредита.
//    .conditions__row.conditions__row--hide
//        .conditions__title
//            h3 Способы предоставления кредита 
//        .conditions__desc
//            p Кредитные средства предоставляются в безналичной форме на счет заемщика в валюте кредита, открытый в банке для этой цели при подписании кредитного договора, договора об ипотеке и закладной.
//    .conditions__row.conditions__row--hide
//        .conditions__title
//            h3 Погашение ипотеки
//        .conditions__desc
//            p Ежемесячно, равными.
//    .conditions__row.conditions__row--hide
//        .conditions__title
//            h3
//                |Обеспечение
//                br
//                |по кредиту
//        .conditions__desc
//            p Ипотека (залог) имеющейся в собственности недвижимости в пользу банка.
//    .conditions__row.conditions__row--hide
//        .conditions__title
//            h3 Прочее
//        .conditions__desc
//            p При неоплате очередного платежа в установленное время, заемщик должен оплатить пени в размере 0,06 % от суммы платежа за каждый просроченный день.
//
//    .load-more
//        .load-more__button Все условия
//            svg.conditions__svg(width='16px', height='14px', viewbox='0 0 16 14', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
//                g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
//                    g#Text-Styles-Copy(transform='translate(-690.000000, -400.000000)', fill='#000000')
//                        path#Combined-Shape(d='M699.003052,410.753077 L699.003052,400 L697.003052,400 L697.003052,410.779547 L691.971069,404.942503 L690,406.567897 L697.035645,413.556349 L697.991089,414.043335 L698.931519,413.556349 L705.994141,406.567897 L704.0177,404.942503 L699.003052,410.753077 Z')
