.care.loaded-block
    .care__wrap.container(style="background-image: url(common/images/bg.jpg)")
        .care__content
            h1.title-block__title
                | Мы позаботимся
                br
                | о вашей ипотеке!
            .mortgage__block-buttons
                a.button(href='#23') Оставить заявку
                a.find-department(href='#23') Найти отделение