.mortgage.container
    .mortgage__block

        .mortgage__block-image
            .image-bg(style="background-image: url(common/images/img1.jpg);")

        .mortgage__block-content
            h3.block-content__title Квартира на вторичном рынке
            .block-content__description
                .property.highlighted
                    a(href='#31').highlighted__block-link
                    .property__block
                        h3.property__title 8,5%
                        p.property__description ставка снижена до 23 марта

                .property
                    .property__block
                        h3.property__title 1–25
                            span.small-text лет
                        p.property__description срок кредитования

                .property
                    .property__block
                        h3.property__title 8,5%
                            span.small-text млн. ₽
                        p.property__description максимальная сумма

            .block-content__order
                a(href = '#').button Оставить заявку

        a(href='#30').block-link

    .mortgage__block

        .mortgage__block-image
            .image-bg(style="background-image: url(common/images/img1.jpg);")

        .mortgage__block-content
            h3.block-content__title Квартира на вторичном рынке
            .block-content__description
                .property
                    a(href='#31')
                    .property__block
                        h3.property__title 8,5%
                        p.property__description ставка снижена до 23 марта

                .property
                    .property__block
                        h3.property__title 1–25
                            span.small-text лет
                        p.property__description срок кредитования

                .property
                    .property__block
                        h3.property__title 8,5%
                            span.small-text млн. ₽
                        p.property__description максимальная сумма

            .block-content__order
                a(href = '#').button Оставить заявку

        a(href='#30').block-link

    .mortgage__blocks_hidden
        .mortgage__block.loaded-block#firstInLoaded
            .mortgage__block-image--small
                .image-bg--small(style="background-image: url(common/images/img1.jpg);")

            .mortgage__block-content--small
                h3.block-content__title Квартира на вторичном рынке
                .block-content__description
                    .property
                        .property__block
                            h3.property__title 8,5%
                            p.property__description ставка снижена до 23 марта

                    .property
                        .property__block
                            h3.property__title 1–25
                                span.small-text лет
                            p.property__description срок кредитования

                    .property
                        .property__block
                            h3.property__title 8,5%
                                span.small-text млн. ₽
                            p.property__description максимальная сумма

                .block-content__order
                    a(href = '#').button Оставить заявку



        .mortgage__block.loaded-block
            .mortgage__block-image--small
                .image-bg--small(style="background-image: url(common/images/img1.jpg);")

            .mortgage__block-content--small
                h3.block-content__title Квартира на вторичном рынке
                .block-content__description
                    .property
                        .property__block
                            h3.property__title 8,5%
                            p.property__description ставка снижена до 23 марта

                    .property
                        .property__block
                            h3.property__title 1–25
                                span.small-text лет
                            p.property__description срок кредитования

                    .property
                        .property__block
                            h3.property__title 8,5%
                                span.small-text млн. ₽
                            p.property__description максимальная сумма

                .block-content__order
                    a(href = '#').button Оставить заявку



        .mortgage__block.loaded-block
            .mortgage__block-image--small
                .image-bg--small(style="background-image: url(common/images/img1.jpg);")

            .mortgage__block-content--small
                h3.block-content__title Квартира на вторичном рынке
                .block-content__description
                    .property
                        .property__block
                            h3.property__title 8,5%
                            p.property__description ставка снижена до 23 марта

                    .property
                        .property__block
                            h3.property__title 1–25
                                span.small-text лет
                            p.property__description срок кредитования

                    .property
                        .property__block
                            h3.property__title 8,5%
                                span.small-text млн. ₽
                            p.property__description максимальная сумма

                .block-content__order
                    a(href = '#').button Оставить заявку



        .mortgage__block.loaded-block
            .mortgage__block-image--small
                .image-bg--small(style="background-image: url(common/images/img1.jpg);")

            .mortgage__block-content--small
                h3.block-content__title Квартира на вторичном рынке
                .block-content__description
                    .property.highlighted
                        a(href='#31').highlighted__block-link
                        .property__block
                            h3.property__title 8,5%
                            p.property__description ставка снижена до 23 марта

                    .property
                        .property__block
                            h3.property__title 1–25
                                span.small-text лет
                            p.property__description срок кредитования

                    .property
                        .property__block
                            h3.property__title 8,5%
                                span.small-text млн. ₽
                            p.property__description максимальная сумма

                .block-content__order
                    a(href = '#').button Оставить заявку



        .mortgage__block.loaded-block
            .mortgage__block-image--small
                .image-bg--small(style="background-image: url(common/images/img1.jpg);")

            .mortgage__block-content--small
                h3.block-content__title Квартира на вторичном рынке
                .block-content__description
                    .property
                        .property__block
                            h3.property__title 8,5%
                            p.property__description ставка снижена до 23 марта

                    .property
                        .property__block
                            h3.property__title 1–25
                                span.small-text лет
                            p.property__description срок кредитования

                    .property
                        .property__block
                            h3.property__title 8,5%
                                span.small-text млн. ₽
                            p.property__description максимальная сумма

                .block-content__order
                    a(href = '#').button Оставить заявку


        .mortgage__block.loaded-block
            .mortgage__block-image--small
                .image-bg--small(style="background-image: url(common/images/img1.jpg);")

            .mortgage__block-content--small
                h3.block-content__title Квартира на вторичном рынке
                .block-content__description
                    .property
                        .property__block
                            h3.property__title 8,5%
                            p.property__description ставка снижена до 23 марта

                    .property
                        .property__block
                            h3.property__title 1–25
                                span.small-text лет
                            p.property__description срок кредитования

                    .property
                        .property__block
                            h3.property__title 8,5%
                                span.small-text млн. ₽
                            p.property__description максимальная сумма

                .block-content__order
                    a(href = '#').button Оставить заявку




    .load-more
        .load-more__button Все ипотечные кредиты
            span.badge#count-hidden
.for-clients.loaded-block
    a(href="#1").link__for-clients Для ипотечных клиентов
    i.fa.fa-chevron-right
include _tips