include ../page-elements-1/_buttons

header#header
    .header__top
        a.sec-menu__link.sec-menu--mobile(href='')
            | Для жизни
            span.arr-icon
                svg(width='8px', height='10px', viewbox='0 0 8 10', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                        g#Text-Styles-Copy(transform='translate(-826.000000, -402.000000)', fill='#000000')
                            path#Combined-Shape(d='M832.767269,407 L833.066817,406.700452 L828.566817,402.200452 L826.933183,403.834086 L830.099097,407 L826.933183,410.165914 L828.566817,411.799548 L833.066817,407.299548 L832.767269,407 Z')
        ul.sec-menu
            li
                a(href='#8').sec-menu__link.link--active Для жизни
            li
                a(href='#8').sec-menu__link Для бизнеса
            li
                a(href='#8').sec-menu__link Премиальное обслуживание
            li
                a(href='#8').sec-menu__link Private Banking

            li
                span.dot

            li
                a(href='#8').sec-menu__link О банке
        ul.sec-menu--right
            li.mobile-hide
                a(href='#8').sec-menu__link.sm-i Москва
                    span.city-icon
                        svg(width='24px', height='22px', viewbox='0 0 24 22', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                            // Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch
                            g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                g#Text-Styles-Copy(transform='translate(-251.000000, -396.000000)', fill='#7D7D7D')
                                    g#house(transform='translate(251.000000, 396.000000)')
                                        path#Rectangle(d='M11.9768066,20 L22,20.0153198 L22,2 L11.9847412,2 L11.9768066,20 Z M24,0 L24,22 L10,22 L10,0 L24,0 Z', fill-rule='nonzero')
                                        path#Rectangle-Copy(d='M1.984375,20 L10,20.0163574 L9.98638916,8 L2.02313232,8 L1.984375,20 Z M12,6 L12,22 L0,22 L0,6 L12,6 Z', fill-rule='nonzero')
                                        rect#Rectangle-2(x='15', y='5', width='4', height='2')
                                        rect#Rectangle-2-Copy(x='15', y='9', width='4', height='2')
                                        rect#Rectangle-2-Copy-2(x='15', y='13', width='4', height='2')

            li
                a(href='#8').sec-menu__link.sm-l Офисы и банкоматы
                    span.location-icon
                        svg(width='16px', height='20px', viewbox='0 0 16 20', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                            // Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch
                            defs
                            g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                g#Text-Styles-Copy(transform='translate(-303.000000, -397.000000)', fill='#7A7A7A')
                                    path#Fill-8(d='M317.170422,409.67019 C318.15995,408.372088 318.756803,406.756713 318.781,404.99919 C318.841,400.64219 315.358,397.06019 311,397.00019 L310.998,397.00019 C306.61,396.97019 303.03,400.50319 303,404.89019 C303,407.28863 304.070653,409.439711 305.762512,410.887981 L311,417.00019 L317.282,409.67019 L317.170422,409.67019 Z M311,399.00019 C314.314,399.00019 317,401.68619 317,405.00019 C317,408.31419 314.314,411.00019 311,411.00019 C307.686,411.00019 305,408.31419 305,405.00019 C305,401.68619 307.686,399.00019 311,399.00019 L311,399.00019 Z')

            li.lang-menu
                a(href='#8').sec-menu__link En
            li.mobile-hide
                a(href='#8').sec-menu__link.search-link
                    span.search-icon
                        svg(width='21px', height='22px', viewbox='0 0 21 22', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                            // Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch
                            g#searh(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                g#Text-Styles-Copy(transform='translate(-351.000000, -396.000000)', fill-rule='nonzero', fill='#7F7F7F')
                                    g#search(transform='translate(351.000000, 396.000000)')
                                        polygon#Shape(points='19 21.2803688 20.5364426 20 15.5364426 14 14 15.2803688')
                                        path#Oval(d='M18.156,9.078 C18.156,14.091641 14.091641,18.156 9.078,18.156 C4.06435904,18.156 0,14.091641 0,9.078 C0,4.06435904 4.06435904,0 9.078,0 C14.091641,0 18.156,4.06435904 18.156,9.078 Z M2,9.078 C2,12.9870715 5.16892854,16.156 9.078,16.156 C12.9870715,16.156 16.156,12.9870715 16.156,9.078 C16.156,5.16892854 12.9870715,2 9.078,2 C5.16892854,2 2,5.16892854 2,9.078 Z')


    .header__bottom
        .header__hamburger
            .hamburger-menu
        .header__logo(style="background-image: url(common/images/logo-raif.svg);")
        .header__menu
            ul.main-menu
                li
                    a(href='#6').main-menu__link Карты
                li
                    a(href='#6').main-menu__link Вклады и инвестиции
                li
                    a(href='#6').main-menu__link Кредиты
                li
                    a(href='#6').main-menu__link.link--active Ипотека
                li
                    a(href='#6').main-menu__link Пакеты услуг
                li
                    a(href='#6').main-menu__link Страхование
                li
                    a(href='#6').main-menu__link Сервисы
        .header__action
            +btn-icon-inv('Интернет-Банк', 'user', '#5').banking
            //- a(href='#5').button-invert.button-with-icon.banking Интернет-Банк
            //-     span.button-icon
            //-         svg(width='18px', height='21px', viewbox='0 0 18 21', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            //-             // Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch
            //-             g#ibank(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            //-                 g#ibank_21(transform='translate(-403.000000, -397.000000)', fill='#000000')
            //-                     path#ibank_22(d='M412,406.97999 C414.754592,406.97447 416.983674,404.737932 416.979996,401.983337 C416.976317,399.228741 414.741271,396.998165 411.986673,397.000001 C409.232076,397.001838 407.000006,399.235392 407,401.98999 C407.005515,404.747508 409.242477,406.979996 412,406.97999 L412,406.97999 Z M412,398.98999 C413.656854,398.98999 415,400.333136 415,401.98999 C415,403.646844 413.656854,404.98999 412,404.98999 C410.343146,404.98999 409,403.646844 409,401.98999 C409,400.333136 410.343146,398.98999 412,398.98999 L412,398.98999 Z M412,407.97999 C408.1,407.97999 403,410.43999 403,415.92999 L403,416.94999 C403,416.94999 421,417.09999 421,416.94999 C420.998681,414.566201 420.049087,412.280863 418.360681,410.598086 C416.672276,408.915308 414.38378,407.97335 412,407.97999 L412,407.97999 Z M405,415.00999 C405.5,411.48999 408.907,409.96999 412,409.96999 C415.093,409.96999 418.5,411.47999 419,415.00999 L405,415.00999 L405,415.00999 Z')
            a(href='#8').button-invert.button-with-icon.ring
                div.button-icon-f
                    span.button-svg
                        svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/', x='0px', y='0px', width='20px', height='20px', viewbox='0 0 20 20', style='enable-background:new 0 0 20 20;', xml:space='preserve')
                            defs
                            g(transform='translate(325.000000, 73.000000)')
                                path#phone_1_(d='M-312-67.8c0.1,0.1,0.3,0.3,0.5,0.5l2.9-2.9l-0.6-0.6L-312-68L-312-67.8z M-322.7-57.3l0.6,0.6l2.8-2.8\
                            L-320-60L-322.7-57.3z M-320.2-55.4c0.5,0.1,1.1,0.3,1.8,0.3c1.8,0,4.5-0.7,7.7-3.9c4-4.1,3.8-7.4,3.3-9.1l-2.8,2.8\
                            c0.1,1-0.7,2-1.1,2.5c-0.9,1.2-2,2.2-3.2,3.2c-1.2,1-2,1.6-2.9,1.6c0,0-0.1,0-0.1,0L-320.2-55.4z M-318.3-53\
                            c-1.4,0-2.6-0.3-3.5-0.7l-1.7-1.3l-1-1c-0.3-0.3-0.5-0.7-0.5-1.2c0-0.5,0.2-0.9,0.5-1.2l3.3-3.3c0.3-0.3,0.8-0.5,1.2-0.5\
                            c0.5,0,0.9,0.2,1.2,0.5l1.8,1.4c0.4-0.3,0.9-0.7,1.2-0.9c1.1-0.8,2-1.8,2.9-2.9c0.3-0.4,0.5-0.7,0.6-0.8c-0.7-0.8-1.1-1.3-1.4-1.6\
                            l-0.1-0.1c-0.3-0.3-0.5-0.8-0.5-1.2c0-0.5,0.2-0.9,0.5-1.2l3.4-3.4c0.3-0.3,0.8-0.5,1.2-0.5c0.5,0,0.9,0.2,1.3,0.5l0.8,0.8l1.4,1.9\
                            c0.9,1.8,2.1,6.6-3.4,12.2C-312.8-53.8-316.2-53-318.3-53L-318.3-53z')

            a(href='#8').button-invert.button-with-icon.close
                div.button-icon-f
                    i.fa.fa-close


