//include ../page-elements-1/_buttons

.scroll-header
    .scroll-header--left
        .scroll-up.grey-color
            +btn-text-icon('Наверх', 'arrow-up', '#tabs-1')
        .scroll-title Рефинансирование кредитов иных банков
    .scroll-header--right
        .scroll-button
            +btn('Оставить заявку', '#34')
    .scroll-line