.Preloader-b

.Preloader

    .Spinner
        
        .Spinner-line.Spinner-line--1
            
            .Spinner-line-cog
                
                .Spinner-line-cog-inner.Spinner-line-cog-inner--left
                
            
            .Spinner-line-ticker
                
                .Spinner-line-cog-inner.Spinner-line-cog-inner--center
                
            
            .Spinner-line-cog
                
                .Spinner-line-cog-inner.Spinner-line-cog-inner--right



        .Spinner-line.Spinner-line--2

            .Spinner-line-cog

                .Spinner-line-cog-inner.Spinner-line-cog-inner--left


            .Spinner-line-ticker

                .Spinner-line-cog-inner.Spinner-line-cog-inner--center


            .Spinner-line-cog

                .Spinner-line-cog-inner.Spinner-line-cog-inner--right



        .Spinner-line.Spinner-line--3

            .Spinner-line-cog

                .Spinner-line-cog-inner.Spinner-line-cog-inner--left


            .Spinner-line-ticker

                .Spinner-line-cog-inner.Spinner-line-cog-inner--center


            .Spinner-line-cog

                .Spinner-line-cog-inner.Spinner-line-cog-inner--right



        .Spinner-line.Spinner-line--4

            .Spinner-line-cog

                .Spinner-line-cog-inner.Spinner-line-cog-inner--left


            .Spinner-line-ticker

                .Spinner-line-cog-inner.Spinner-line-cog-inner--center


            .Spinner-line-cog

                .Spinner-line-cog-inner.Spinner-line-cog-inner--right

