include ../page-elements-1/_buttons
.tips.loaded-block
    .tips__wrap.container
        .tips__content
            .tips__title
                h3.tisp__title-content Уже есть ипотечный кредит
            .tips__links
                a.tips__links-content(href="#3")
                    span.link.tips__links-link Памятка по снятию обременения
                    span.link-description.grey-color PDF, 2 Мб
                a.tips__links-content(href="#3")
                    span.link.tips__links-link Памятка по погашению ипотечного кредита
                    span.link-description.grey-color PDF, 2 Мб
                a.tips__links-content(href="#3")
                    span.link.tips__links-link Памятка по оформлению залога квартиры после получения права собственности (первичный рынок)
                    span.link-description.grey-color PDF, 2 Мб
                .tips__all
                    a(href="#3").all-recomendation Все рекомендации
                    //+btn-text-icon('Все рекомендации','arrow','#w')