.tips.loaded-block
    .tips__wrap.container
        .tips__content
            .tips__title
                h3.tisp__title-content Уже есть ипотечный кредит
            .tips__links
                .tips__links-content
                    a(href="#1").link.tips__links-link Памятка по снятию обременения
                    span.link-description.grey-color PDF, 2 Мб
                .tips__links-content
                    a(href="#2").link.tips__links-link Памятка по погашению ипотечного кредита
                    span.link-description.grey-color PDF, 2 Мб
                .tips__links-content
                    a(href="#3").link.tips__links-link Памятка по оформлению залога квартиры после получения права собственности (первичный рынок)
                    span.link-description.grey-color PDF, 2 Мб
                .tips__all
                    a(href="#3").all-recomendation Все рекомендации