.menu-wrapper__header Вклады и инвестиции
    i.fa.fa-chevron-left
.menu-wrapper
    .menu-col
        .menu-block
            .menu-body
                a.menu-section-link(href='#99') Вклады
                a.menu-section-link(href='#99') Накопительные счета
                a.menu-section-link(href='#99') Паевые инвестиционные фонды
                a.menu-section-link(href='#99') Пенсионные продукты
                a.menu-section-link(href='#99') Сейфовые ячейки
                a.menu-section-link(href='#99') Специальные предложения


    .menu-col
        .menu-block
            .menu-heading Сервисы
            .menu-body
                a.menu-link(href='#99').main-menu__link Подборщик вкладов
                a.menu-link(href='#99').main-menu__link Автоматическое пополнение

        .menu-block
            .menu-heading Узнайте больше
            .menu-body
                a.menu-link(href='#99').main-menu__link Вклады застрахованы
                a.menu-link(href='#99').main-menu__link Вопросы и ответы
                a.menu-link(href='#99').main-menu__link Тарифы и условия
                a.menu-link(href='#99').main-menu__link Архив тарифов
    .menu-col
        .menu-block
            .menu-image
                img(src='common/new/images/kard.jpg').menu-image-pic
            .menu-description
                h4.menu-description__header На каждый день
                p.menu-description__p 6% в год на остаток по счету для клиентов, получающих зарплату в Райффайзенбанке и индивидуальных зарплатных клиентов

.menu-button
    .menu-button__container#mb-c2
        +btn-text('Задать вопрос','#12')#bt-2
        .menu-button__container--click
            +btn-menu-icon('Facebook', 'facebook', '#331')
            +btn-menu-icon('Telegram', 'telegram', '#332')
            +btn-menu-icon('В чате', 'chat', '#333')
            +btn-menu-icon('В письме', 'mail-export', '#334')
            +btn-menu-icon('Через сайт', 'pc', '#335')