.menu-wrapper__header Ипотека
    i.fa.fa-chevron-left
.menu-wrapper
    .menu-col
        .menu-block
            .menu-body
                a.menu-section-link(href='#99') Ипотека
                a.menu-section-link(href='#99') Специальные предложения
        .menu-block.menu-overline
            .menu-detail
                .span-warn !
                p Без поручительств и гарантий третьих лиц
            .menu-detail
                .span-warn !
                p Рассмотрение заявки: от 2 до 5 рабочих дней


    .menu-col
        .menu-block
            .menu-heading Сервисы
            .menu-body
                a.menu-link(href='#99').main-menu__link Ипотечный калькулятор
                a.menu-link(href='#99').main-menu__link Витрина объектов недвижимости
                a.menu-link(href='#99').main-menu__link Партнеры

        .menu-block
            .menu-heading Узнайте больше
            .menu-body
                a.menu-link(href='#99').main-menu__link Для ипотечных клиентов
                a.menu-link(href='#99').main-menu__link Способы погашения кредита
                a.menu-link(href='#99').main-menu__link Страхование
                a.menu-link(href='#99').main-menu__link Полная стоимость кредита
                a.menu-link(href='#99').main-menu__link Тарифы и условия
    .menu-col
        .menu-block
            .menu-image
                img(src='common/new/images/kard.jpg').menu-image-pic
            .menu-description
                h4.menu-description__header Ипотека с материнским капиталом
                p.menu-description__p Вы сможете полностью покрыть или значительно снизить первоначальный взнос средствами материнского капитала.

.menu-button
    .menu-button__container#mb-c4
        +btn-text('Задать вопрос','#12')#bt-4
        .menu-button__container--click
            +btn-menu-icon('Facebook', 'facebook', '#331')
            +btn-menu-icon('Telegram', 'telegram', '#332')
            +btn-menu-icon('В чате', 'chat', '#333')
            +btn-menu-icon('В письме', 'mail-export', '#334')
            +btn-menu-icon('Через сайт', 'pc', '#335')