.menu-wrapper__header Сервисы
    i.fa.fa-chevron-left
.menu-wrapper
    .menu-col
        .menu-block
            .menu-heading Услуги банка онлайн
            .menu-body
                .menu-body__section
                    a(href='#99').menu-section-link Интернет-банк
                    .menu-link__description.grey-color Управляйте своими счетами – удобно, быстро и безопасно
                    +btn-text-icon('Подключить','arrow','#w')
            .menu-body
                .menu-body__section
                    a(href='#99').menu-section-link Приложение R-Connect
                    .menu-link__description.grey-color Бесплатное приложение для быстрого управления финансами
                    a(href='#22').btn-store
                        img(src='common/new/images/app-store.svg')
                    a(href='#22').btn-store
                        img(src='common/new/images/google-play-badge.svg')
    .menu-col
        .menu-block
            .menu-heading Доступ без интернета
            .menu-body
                .menu-body__section
                    a(href='#99').menu-section-link СМС-банк
                    .menu-link__description.grey-color Возможности уведомления и подключения услуг через СМС
            .menu-body
                .menu-body__section
                    a(href='#99').menu-section-link Банкоматы
                    .menu-link__description.grey-color Операции, доступные в 2000 банкоматах по всей России  и в банкоматах партнеров
            .menu-body
                .menu-body__section
                    a(href='#99').menu-section-link Информационный центр
                    .menu-link__description.grey-color Быстрый заказ любых продуктов. Круглосуточная консультация держателей карт

    .menu-col
        .menu-block
            .menu-heading Самообслуживание
            .menu-body
                a.menu-link(href='#99').main-menu__link Документы без очереди
                a.menu-link(href='#99').main-menu__link Курьерская доставка
                a.menu-link(href='#99').main-menu__link Информация о готовности карты
                a.menu-link(href='#99').main-menu__link Заказ денег

        .menu-block
            .menu-heading Узнайте больше
            .menu-body
                a.menu-link(href='#99').main-menu__link Безопасность
                a.menu-link(href='#99').main-menu__link Вопросы и ответы
            .menu-logo
                img.logo-icon(src='common/new/images/Apple_Pay_logo.svg')
                img.logo-icon(src='common/new/images/samsung-pay.svg')
                img.logo-icon(src='common/new/images/Android_Pay_logo.svg')

.menu-button
    .menu-button__container#mb-c7
        +btn-text('Задать вопрос','#12')#bt-7
        .menu-button__container--click
            +btn-menu-icon('Facebook', 'facebook', '#331')
            +btn-menu-icon('Telegram', 'telegram', '#332')
            +btn-menu-icon('В чате', 'chat', '#333')
            +btn-menu-icon('В письме', 'mail-export', '#334')
            +btn-menu-icon('Через сайт', 'pc', '#335')