@mixin clearfix
  &:after
    content: ""
    display: table
    clear: both

@function calcRem($size)
  $remSize: $size / 16px
  @return #{$remSize}rem

div
  display: block

*
  -webkit-font-smoothing: antialiased

body
  background-color: #333333
  margin: 0
  padding: 0
  font-family: 'futura-book', 'Helvetica', sans-serif
  a
    text-decoration: none
  *
    box-sizing: border-box
  ul
    padding: 0
    margin: 0
    li
      list-style: none

.body-container
  padding-top: calcRem(60px)
  background-color: white

@import "components/spinner.sass"
@import "components/colors.sass"
@import "components/fonts.sass"
@import "components/container.sass"
@import "components/ui.sass"
@import "components/header.sass"
@import "components/likes.sass"
@import "components/footer.sass"
@import "components/loadmore.sass"
@import "components/mortgage-intro.sass"
@import "components/mortgage-tabs.sass"
@import "components/more-questions.sass"
@import "components/documents.sass"
@import "components/popup-tarif.sass"
@import "components/conditions.sass"
@import "components/care-block.sass"
@import "components/show-elements.sass"
@import "components/calculator.sass"

@import "components/mobile.sass"
@import "components/mobile2.sass"