.documents.loaded-block
  .documents__wrap
    .documents__content.container
      .documents__title
        h2.heading-h2 Подробная информация и документы
      .documents__list
        a.documents__item(href='' data-popup='p1')
          span Требования к заемщику
        a.documents__item(href='' data-popup='p2')
          span Требования к имуществу
        a.documents__item(href='' data-popup='p3')
          span Список документов
        a.documents__item(href='' data-popup='p4')
          span Готовые процентные ставки
        a.documents__item(href='' data-popup='p5')
          span Полная стоимость кредита
        a.documents__item(href='' data-popup='p6')
          span Тарифы
