include ../page-elements-1/_buttons

.care.loaded-block
    .care__wrap.container(style="background-image: url(common/new/images/bg.jpg)")
        .care__content
            h1.title-block__title
                | Мы позаботимся
                br
                | о вашей ипотеке!
            .mortgage__block-buttons
                //a.button(href='#23') Оставить заявку
                +btn('Оставить заявку', '#23')
                a.find-department(href='#23') Найти отделение