//
   Created by jenya on 26.05.17.

include index-page/_welcome-banner
include index-page/_welcome-slider-1
include index-page/_welcome-slider-2
include index-page/_welcome-promo-app
include index-page/_info-blocks
include index-page/_news-black