include ../page-elements-1/_buttons

.site-menu
    .site-menu__container
        #menu1
            include menu-components/_menu1

        #menu2
            include menu-components/_menu2

        #menu3
            include menu-components/_menu3

        #menu4
            include menu-components/_menu4

        #menu5
            include menu-components/_menu5

        #menu6
            include menu-components/_menu6

        #menu7
            include menu-components/_menu7