.mortgage-wrapper
    .mortgage__block-image
        .video-bg
            video#bgvid(preload='metadata', loop, muted, webkit-playsinline, playsinline)
                source(src='common/new/images/video.mp4')
                source(src='common/new/images/video.webm')
    .mortgage-intro.container
        .mortgage-intro__block
            .mortgage__block-content
                h6.title-block__description.grey-color
                    span.step Для жизни
                    span.dot.breadcrumbs-dot
                    span.step Ипотека
                h1.title-block__title Рефинансирование кредитов иных банков
                p.block-content__readme.grey-color Получите выгодные условия на покупку недвижимости в новостройках и вторичном рынке жилья, включая кредиты под залог квартиры в собственности.
                .block-content__description
                    .property
                        .property__block
                            h3.property__title 8,5%
                            p.property__description ставка снижена до 23 марта

                    .property
                        .property__block
                            h3.property__title 1–25
                                span.small-text лет
                            p.property__description срок кредитования

                    .property
                        .property__block
                            h3.property__title 8,5%
                                span.small-text млн. ?
                            p.property__description максимальная сумма

                .mortgage__block-buttons
                    a.button(href='#23') Оставить заявку
                    a.find-department(href='#23') Найти отделение