.accordion__body-left
    ul.popup-tarif__list--ul
        li.popup-tarif__list-item Получите консультацию по телефону или в отделении или оформите предварительную заявку на сайте
        li.popup-tarif__list-item
            | Подготовьте
            |
            span.span-tooltip необходимые документы
                span.span-tooltip__inner Без наделения собственностью в залоговом имуществе.
        li.popup-tarif__list-item Отправьте скан документов по электронной почте Вашему менеджеру или передайте в бумажном виде в любое отделение
    .accordion__body-navigation
        a.button(href='#23') Оставить заявку
.accordion__body-sidebar
    .more-questions__actions-item.item--number
        svg.more-questions__svg(width='48px', height='80px', viewbox='0 0 48 80', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                g#Text-Styles-Copy(transform='translate(-260.000000, -1728.000000)', fill='#E0E1E2')
                    path#Combined-Shape(d='M287.280906,1758.05339 L278.34337,1766.99092 L275.514236,1764.16179 L284.45139,1755.22463 L279.156331,1755.57716 L278.891166,1751.58554 L291.07108,1751.43493 L290.919759,1763.61413 L286.927434,1763.34826 L287.280906,1758.05339 Z M260,1808 L260,1728 L308,1728 L308,1808 L260,1808 Z M266,1802 L302,1802 L302,1735 L266,1735 L266,1802 Z M288,1794 C288,1796.209 286.209,1798 284,1798 C281.791,1798 280,1796.209 280,1794 C280,1791.791 281.791,1790 284,1790 C286.209,1790 288,1791.791 288,1794 Z')
        a.more-questions__link(href='tel:+74957219100')
            .more-questions__link-phone
                span Телефон горячей линии
                br
                | +7 495 721 91 00
    .more-questions__actions-item.item--location
        svg.more-questions__svg(width='64px', height='80px', viewbox='0 0 64 80', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                g#Text-Styles-Copy(transform='translate(-396.000000, -1728.000000)', fill='#E0E1E2')
                    path#Fill-8(d='M453.465503,1778.68028 C457.47835,1773.48792 459.898776,1767.02648 459.996903,1759.99646 C460.240222,1742.56862 446.115565,1728.24076 428.442508,1728.00076 L428.434398,1728.00076 C410.639682,1727.88076 396.121659,1742.01263 396,1759.56046 C396,1769.15413 400.341833,1777.75837 407.202853,1783.5514 L428.442508,1808 L453.917988,1778.68028 L453.465503,1778.68028 Z M428.442508,1736.00068 C441.881817,1736.00068 452.77439,1746.74458 452.77439,1760.00046 C452.77439,1773.25633 441.881817,1784.00023 428.442508,1784.00023 C415.003199,1784.00023 404.110627,1773.25633 404.110627,1760.00046 C404.110627,1746.74458 415.003199,1736.00068 428.442508,1736.00068 L428.442508,1736.00068 Z')
        a.more-questions__link(href='') Найти отделение
