.container.tabs-content.loaded-block
    .tab__block-icon
        .block-icon__image
            img(src="common/new/images/bi-1.svg")
        .block-icon__content
            p Без поручительств и гарантий третьих лиц

    .tab__block-icon
        .block-icon__image
            img(src="common/new/images/bi-2.svg")
        .block-icon__content
            p Рассмотрение заявки от 2 до 5 рабочих дней

    .tab__block-icon
        .block-icon__image
            img(src="common/new/images/bi-3.svg")
        .block-icon__content
            p Договор комбинированного страхования не нужен