.container
    .tab__block-accordion.loaded-block
        .block-icon__accordion
            h1.title-block__title Как оформить рефинансирование
        .block-icon__accordion
            p.grey-color 5 простых шагов к собственному жилью

    .accordion
        .accordion__head.active.loaded-block
            h2
                span.accordion__number 1
                | Консультация и подача заявки

            .accordion__head-description.grey-color 1 рабочий день
            .accordion__head-cross
                img(src='common/new/images/close.svg')
        .accordion__body.loaded-block
            include _tab-section-content
        .accordion__head.loaded-block
            h2
                span.accordion__number 2
                | Консультация и подача заявки

            .accordion__head-description.grey-color 1 рабочий день
            .accordion__head-cross
                img(src='common/new/images/close.svg')
        .accordion__body.loaded-block
            include _tab-section-content
        .accordion__head.loaded-block
            h2
                span.accordion__number 3
                | Консультация и подача заявки

            .accordion__head-description.grey-color 1 рабочий день
            .accordion__head-cross
                img(src='common/new/images/close.svg')
        .accordion__body.loaded-block
            include _tab-section-content
        .accordion__head.loaded-block
            h2
                span.accordion__number 4
                | Консультация и подача заявки

            .accordion__head-description.grey-color 1 рабочий день
            .accordion__head-cross
                img(src='common/new/images/close.svg')
        .accordion__body.loaded-block
            include _tab-section-content

        .accordion__head.loaded-block
            h2
                span.accordion__number 5
                | Консультация и подача заявки

            .accordion__head-description.grey-color 1 рабочий день
            .accordion__head-cross
                img(src='common/new/images/close.svg')
        .accordion__body.loaded-block
            include _tab-section-content