.tips.tip-over
    .tips__wrap.container
        .tips__content
            .tips__title
                h3.tisp__title-content
                    | Правила
                    br
                    | обслуживания
            .tips__links
                a.tips__links-content(href="#2")
                    span.link.tips__links-link Памятка по погашению ипотечного кредита
                    span.link-tip.grey-color Как правильно совершать ежемесячные платежи, как оформить досрочное погашение и многое другое!
                    span.link-description.grey-color PDF, 2 Мб
                a.tips__links-content(href="#1")
                    span.link.tips__links-link Памятка по снятию обременения
                    span.link-description.grey-color PDF, 2 Мб
                a.tips__links-content(href="#3")
                    span.link.tips__links-link Памятка по погашению ипотечного кредита
                    span.link-description.grey-color PDF, 2 Мб
                a.tips__links-content(href="#3")
                    span.link.tips__links-link Памятка по оформлению залога квартиры после получения права собственности (первичный рынок)
                    span.link-description.grey-color PDF, 2 Мб
                a.tips__links-content(href="#2")
                    span.link.tips__links-link Памятка по погашению ипотечного кредита
                    span.link-description.grey-color PDF, 2 Мб
                .tips__all
                    a(href="#3").all-recomendation Все рекомендации