.menu-wrapper__header Пакеты услуг
    i.fa.fa-chevron-left
.menu-wrapper
    .menu-col
        .menu-block
            .menu-body
                a.menu-section-link(href='#99') Оптимальный
                a.menu-section-link(href='#99') Золотой
                a.menu-section-link(href='#99') Зарплатный
                a.menu-section-link(href='#99') Премиум
        //.menu-block.menu-overline
            .menu-detail
                .span-warn !
                p Без поручительств и гарантий третьих лиц
            .menu-detail
                .span-warn !
                p Рассмотрение заявки: от 2 до 5 рабочих дней
    .menu-col
        .menu-block
            .menu-heading Узнайте больше
            .menu-body
                a.menu-link(href='#99').main-menu__link Если вы сменили работу
                a.menu-link(href='#99').main-menu__link Индивидуальное зарплатное обслуживание
                a.menu-link(href='#99').main-menu__link Зарплатный проект для компаний
                a.menu-link(href='#99').main-menu__link Вопросы и ответы
                a.menu-link(href='#99').main-menu__link Тарифы и условия
    .menu-col
        .menu-block
            .menu-image
                img(src='common/images/kard.jpg').menu-image-pic
            .menu-description
                h4.menu-description__header Премиум Директ
                p.menu-description__p Уникальная программа премиального банковского обслуживания с акцентом на дистанционное предоставление услуг.

.menu-button
    .menu-button__container#mb-c5
        +btn-text('Задать вопрос','#12')#bt-5
        .menu-button__container--click
            +btn-menu-icon('Facebook', 'facebook', '#331')
            +btn-menu-icon('Telegram', 'telegram', '#332')
            +btn-menu-icon('В чате', 'chat', '#333')
            +btn-menu-icon('В письме', 'mail-export', '#334')
            +btn-menu-icon('Через сайт', 'pc', '#335')