.menu-wrapper__header Страхование
    i.fa.fa-chevron-left
.menu-wrapper
    .menu-col
        .menu-block
            .menu-body
                a.menu-section-link(href='#99') Страхование
        .menu-block.menu-overline
            .menu-detail
                .span-warn !
                p Гибкие программы на все случаи жизни
            .menu-detail
                .span-warn !
                p Возможности защиты заемщиков кредитов
    .menu-col
        .menu-block
            .menu-heading Узнайте больше
            .menu-body
                a.menu-link(href='#99').main-menu__link Вопросы и ответы
                a.menu-link(href='#99').main-menu__link Тарифы и условия
    .menu-col
        .menu-block
            .menu-image
                img(src='common/images/kard.jpg').menu-image-pic
            .menu-description
                h4.menu-description__header Защита для дома и квартиры
                p.menu-description__p Простой способ избежать непредсказуемых расходов на ремонт квартиры и замену поврежденного имущества.

.menu-button
    .menu-button__container#mb-c6
        +btn-text('Задать вопрос','#12')#bt-6
        .menu-button__container--click
            +btn-menu-icon('Facebook', 'facebook', '#331')
            +btn-menu-icon('Telegram', 'telegram', '#332')
            +btn-menu-icon('В чате', 'chat', '#333')
            +btn-menu-icon('В письме', 'mail-export', '#334')
            +btn-menu-icon('Через сайт', 'pc', '#335')