.menu-wrapper
    .menu-col
        .menu-block
            .menu-body
                a.menu-section-link(href='#99') Ипотека
                a.menu-section-link(href='#99') Специальные предложения
        .menu-block.menu-overline
            .menu-detail
                .span-warn !
                p Без поручительств и гарантий третьих лиц
            .menu-detail
                .span-warn !
                p Рассмотрение заявки: от 2 до 5 рабочих дней


    .menu-col
        .menu-block
            .menu-heading Сервисы
            .menu-body
                a.menu-link(href='#99').main-menu__link Ипотечный калькулятор
                a.menu-link(href='#99').main-menu__link Витрина объектов недвижимости
                a.menu-link(href='#99').main-menu__link Партнеры

        .menu-block
            .menu-heading Узнайте больше
            .menu-body
                a.menu-link(href='#99').main-menu__link Для ипотечных клиентов
                a.menu-link(href='#99').main-menu__link Способы погашения кредита
                a.menu-link(href='#99').main-menu__link Страхование
                a.menu-link(href='#99').main-menu__link Полная стоимость кредита
                a.menu-link(href='#99').main-menu__link Тарифы и условия
    .menu-col
        .menu-block
            .menu-image
                img(src='common/images/kard.jpg').menu-image-pic
            .menu-description
                h4.menu-description__header Ипотека с материнским капиталом
                p.menu-description__p Вы сможете полностью покрыть или значительно снизить первоначальный взнос средствами материнского капитала.


.menu-button
    .menu-button__container
        +btn-text('Задать вопрос','#12')