.menu-wrapper
    .menu-col
        .menu-block
            .menu-body
                a.menu-section-link(href='#99') Кредитные карты
                a.menu-section-link(href='#99') Дебетовые карты
                a.menu-section-link(href='#99') Скидки для вас
        .menu-block.menu-overline
            .menu-detail
                .span-warn !
                p 22 000+ банкоматов Райффайзенбанка и партнеров  в России и по всему миру


    .menu-col
        .menu-block
            .menu-heading Сервисы
            .menu-body
                a.menu-link(href='#99').main-menu__link Блокировка утерянной карты
                a.menu-link(href='#99').main-menu__link Активация кредитной карты

        .menu-block
            .menu-heading Узнайте больше
            .menu-body
                a.menu-link(href='#99').main-menu__link Руководство владельца
                a.menu-link(href='#99').main-menu__link Вопросы и ответы
                a.menu-link(href='#99').main-menu__link Тарифы и условия
            .menu-logo
                img.logo-icon(src='common/images/Apple_Pay_logo.svg')
                img.logo-icon(src='common/images/samsung-pay.svg')
                img.logo-icon(src='common/images/Android_Pay_logo.svg')
    .menu-col
        .menu-block
            .menu-image
                img(src='common/images/kard.jpg').menu-image-pic
            .menu-description
                h4.menu-description__header Ты у меня одна!
                p.menu-description__p Карта #ВСЁСРАЗУ. До 5% cahsback. 7% на остаток по счету.


.menu-button
    .menu-button__container
        +btn-text('Задать вопрос','#12')