.menu-wrapper
    .menu-col
        .menu-block
            .menu-body
                a.menu-section-link(href='#99') Страхование
        .menu-block.menu-overline
            .menu-detail
                .span-warn !
                p Гибкие программы на все случаи жизни
            .menu-detail
                .span-warn !
                p Возможности защиты заемщиков кредитов
    .menu-col
        .menu-block
            .menu-heading Узнайте больше
            .menu-body
                a.menu-link(href='#99').main-menu__link Вопросы и ответы
                a.menu-link(href='#99').main-menu__link Тарифы и условия
    .menu-col
        .menu-block
            .menu-image
                img(src='common/images/kard.jpg').menu-image-pic
            .menu-description
                h4.menu-description__header Защита для дома и квартиры
                p.menu-description__p Простой способ избежать непредсказуемых расходов на ремонт квартиры и замену поврежденного имущества.


.menu-button
    .menu-button__container
        +btn-text('Задать вопрос','#12')