.documents.loaded-block
  .documents__wrap
    .documents__content.container
      .documents__title
        h2.heading-h2 Подробная информация и документы
      .documents__list
        a.documents__item(href='') Требования к заемщику
        a.documents__item(href='') Требования к имуществу
        a.documents__item(href='') Список документов
        a.documents__item(href='') Готовые процентные ставки
        a.documents__item(href='') Полная стоимость кредита
        a.documents__item(href='') Тарифы
