.likes.loaded-block
  .likes__wrap
    .likes__content
      .likes__block
        .likes__text
          p Эта страница полезна?
        .likes__buttons
          button.likes__button.likes__button_yes
            span Да
              svg(width='21px', height='18px', viewbox='0 0 21 18', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g#icon-like(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                  g#icon-like-g(transform='translate(-644.000000, -398.000000)', fill='#000000')
                    path#icon-like-path(d='M661.166,414 L654.192,414 L650,412.323 L650,407 L651,407 C651.4,407 651.762,406.762 651.919,406.394 L654.659,400 L656,400 L656,404 C656,404.552 656.447,405 657,405 L662.802,405 L661.166,414 Z M646,414 L648,414 L648,406 L646,406 L646,414 Z M665,403 L658,403 L658,398 L654,398 C653.6,398 653.238,398.239 653.08,398.606 L650.341,405 L650,405 C650,404.448 649.553,404 649,404 L644,404 L644,416 L649,416 C649.552,416 650,415.552 650,415 L650,414.478 L653.627,415.928 C653.752,415.952 653.875,415.976 654,416 L662.835,416 L664.984,404.179 L665,403 Z')
          button.likes__button.likes__button_no
            span Нет
              svg(width='21px', height='18px', viewbox='0 0 21 18', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g#icon-notlike(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                  g#icon-notlike-g(transform='translate(-590.000000, -398.000000)', fill='#000000')
                    path#icon-notlike-path(d='M607.166,414 L600.192,414 L596,412.323 L596,407 L597,407 C597.4,407 597.762,406.762 597.919,406.394 L600.659,400 L602,400 L602,404 C602,404.552 602.447,405 603,405 L608.802,405 L607.166,414 Z M592,414 L594,414 L594,406 L592,406 L592,414 Z M611,403 L604,403 L604,398 L600,398 C599.6,398 599.238,398.239 599.08,398.606 L596.341,405 L596,405 C596,404.448 595.553,404 595,404 L590,404 L590,416 L595,416 C595.552,416 596,415.552 596,415 L596,414.478 L599.627,415.928 C599.752,415.952 599.875,415.976 600,416 L608.835,416 L610.984,404.179 L611,403 Z', transform='translate(600.500000, 407.000000) scale(1, -1) translate(-600.500000, -407.000000) ')
        .likes__info.grey-color
          p 90% клиентов считают страницу полезной
      .likes__share
        a.likes__share-link(href='')
          span Поделиться
        .popup-share.popup-share_likes
          .popup-share__icons
            a.popup-share__icon(href='')
              i.fa.fa-facebook
            a.popup-share__icon(href='')
              i.fa.fa-vk
            a.popup-share__icon(href='')
              i.fa.fa-twitter
            a.popup-share__icon(href='')
              i.fa.fa-google
          .popup-share__copy
            a(href='') Копировать ссылку
