.more-questions.loaded-block
  .more-questions__content.container
    .more-questions__title
      h2.heading-h2 Остались вопросы?
    .more-questions__actions
      .more-questions__actions-item.item--number
        svg.more-questions__svg(width='48px', height='80px', viewbox='0 0 48 80', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#Text-Styles-Copy(transform='translate(-260.000000, -1728.000000)', fill='#E0E1E2')
              path#Combined-Shape(d='M287.280906,1758.05339 L278.34337,1766.99092 L275.514236,1764.16179 L284.45139,1755.22463 L279.156331,1755.57716 L278.891166,1751.58554 L291.07108,1751.43493 L290.919759,1763.61413 L286.927434,1763.34826 L287.280906,1758.05339 Z M260,1808 L260,1728 L308,1728 L308,1808 L260,1808 Z M266,1802 L302,1802 L302,1735 L266,1735 L266,1802 Z M288,1794 C288,1796.209 286.209,1798 284,1798 C281.791,1798 280,1796.209 280,1794 C280,1791.791 281.791,1790 284,1790 C286.209,1790 288,1791.791 288,1794 Z')
        a.more-questions__link(href='tel:+74957219100')
          .more-questions__link-phone
            span Телефон горячей линии
            br
            | +7 495 721 91 00
      .more-questions__actions-item.item--fb
        svg.more-questions__svg(width='44px', height='80px', viewbox='0 0 44 80', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#Text-Styles-Copy(transform='translate(-560.000000, -1728.000000)', fill='#E0E1E2')
              path#Fill-1(d='M601.69953,1728.01667 L591.305688,1728 C579.629387,1728 572.084622,1735.72726 572.084622,1747.68772 L572.084622,1756.76577 L561.634116,1756.76577 C560.731644,1756.76577 560,1757.49658 560,1758.39738 L560,1771.54947 C560,1772.45111 560.732477,1773.18109 561.634116,1773.18109 L572.083789,1773.18109 L572.083789,1806.36838 C572.083789,1807.27002 572.815433,1808 573.717905,1808 L587.351645,1808 C588.25495,1808 588.985761,1807.26919 588.985761,1806.36838 L588.985761,1773.18109 L601.204546,1773.18109 C602.107017,1773.18109 602.838661,1772.45111 602.838661,1771.54947 L602.843661,1758.39738 C602.843661,1757.9649 602.671167,1757.55074 602.364509,1757.24409 C602.057852,1756.93743 601.642032,1756.76577 601.208712,1756.76577 L588.987427,1756.76577 L588.987427,1749.07017 C588.987427,1745.37196 589.8699,1743.49452 594.695582,1743.49452 L601.697864,1743.49202 C602.600335,1743.49202 603.331146,1742.76121 603.331146,1741.8604 L603.331146,1729.64828 C603.331146,1728.74831 602.601169,1728.01833 601.69953,1728.01667')
        a.more-questions__link(href='') Facebook
      .more-questions__actions-item.item--telegram
        svg.more-questions__svg(width='80px', height='68px', viewbox='0 0 80 68', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#Text-Styles-Copy(transform='translate(-696.000000, -1735.000000)', fill='#E0E1E2')
              path#Page-1(d='M761.452175,1748.53121 L727.34165,1779.36922 L726.01338,1793.56341 L719.300487,1772.9419 L759.137164,1747.75835 C761.125933,1746.54986 762.949355,1747.19967 761.452175,1748.53121 M770.59882,1735.44458 L699.734736,1762.83167 C694.898105,1764.77606 694.926751,1767.47906 698.853082,1768.68443 L716.526838,1774.21169 L723.289157,1794.98623 C724.111292,1797.25998 723.706087,1798.16182 726.088929,1798.16182 C727.927935,1798.16182 728.743688,1797.32172 729.767981,1796.3191 C730.419277,1795.68042 734.286385,1791.9132 738.604265,1787.70664 L756.988243,1801.31678 C760.371184,1803.1868 762.813693,1802.21802 763.656163,1798.16865 L775.723844,1741.18735 C776.959347,1736.22397 773.835411,1733.97263 770.59882,1735.44458')
        a.more-questions__link(href='') Telegram
      .more-questions__actions-item.item--email
        svg.more-questions__svg(width='80px', height='54px', viewbox='0 0 80 54', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#Text-Styles-Copy(transform='translate(-850.000000, -1741.000000)', fill='#E0E1E2')
              path#Page-1(d='M856.666667,1788.25 L856.666667,1751.72913 L888.233333,1774.237 C888.773333,1774.57788 889.386667,1774.75 890,1774.75 C890.613333,1774.75 891.226667,1774.57788 891.766667,1774.237 L923.333333,1751.72575 L923.336667,1788.25 L856.666667,1788.25 Z M917.043333,1747.75 L890,1767.3925 L862.956667,1747.75 L917.043333,1747.75 Z M923.333333,1741 L856.666667,1741 L850,1741 L850,1747.75 L850,1788.25 L850,1795 L856.666667,1795 L923.333333,1795 L930,1795 L930,1788.25 L930,1747.75 L930,1741 L923.333333,1741 Z')
        a.more-questions__link(href='') E-mail
      .more-questions__actions-item.item--location
        svg.more-questions__svg(width='64px', height='80px', viewbox='0 0 64 80', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#Text-Styles-Copy(transform='translate(-396.000000, -1728.000000)', fill='#E0E1E2')
              path#Fill-8(d='M453.465503,1778.68028 C457.47835,1773.48792 459.898776,1767.02648 459.996903,1759.99646 C460.240222,1742.56862 446.115565,1728.24076 428.442508,1728.00076 L428.434398,1728.00076 C410.639682,1727.88076 396.121659,1742.01263 396,1759.56046 C396,1769.15413 400.341833,1777.75837 407.202853,1783.5514 L428.442508,1808 L453.917988,1778.68028 L453.465503,1778.68028 Z M428.442508,1736.00068 C441.881817,1736.00068 452.77439,1746.74458 452.77439,1760.00046 C452.77439,1773.25633 441.881817,1784.00023 428.442508,1784.00023 C415.003199,1784.00023 404.110627,1773.25633 404.110627,1760.00046 C404.110627,1746.74458 415.003199,1736.00068 428.442508,1736.00068 L428.442508,1736.00068 Z')
        a.more-questions__link(href='') Отделение
