.popup-numbers.popup
  .popup-numbers__content
    ul.popup-numbers__list
      li.popup-numbers__list-item
        a.popup-numbers__link(href='link:+74957219100')
          | +7 495 721-91-00
          br
          span.popup-numbers__link-desc.grey-color для звонков из Москвы
      li.popup-numbers__list-item
        a.popup-numbers__link(href='link:88007009100')
          | 8 800 700-91-00
          br
          span.popup-numbers__link-desc.grey-color для звонков из других регионов

