.popup-links
  .popup-links__content
    ul.popup-links__list
      li.popup-links__list-item
        a.popup-links__link(href='') Для жизни
        span.popup-links__link-icon.fa.fa-check
      li.popup-links__list-item
        a.popup-links__link(href='') Для бизнеса
      li.popup-links__list-item
        a.popup-links__link(href='')
          | Premium
          br
          span.popup-links__link-desc.grey-color Премальное обслуживание
      li.popup-links__list-item
        a.popup-links__link(href='')
          | Private
          br
          span.popup-links__link-desc.grey-color Private Banking
      li.popup-links__list-item
        a.popup-links__link(href='') О банке
          
