mixin title(h6, h1)
    .title-block.container
        h6.title-block__description.grey-color!= h6
        h1.title-block__title!= h1

mixin title-h1(h1)
    .title-block.container
        h1.title-block__title!= h1
