.container-black.loaded-block
    .container.news-block
        h1.title-block__title Новости
        .news-block__wrap.cols.cols3
            .news-article.col
                h6.title-block__description.grey-color 13 ноября
                h4.title-news
                    a(href='#') Обновлен интернет-банк Райффайзен-Онлайн
            .news-article.col
                h6.title-block__description.grey-color 12 ноября
                h4.title-news
                    a(href='#') График работы отделений в ноябре 2016 года
            .news-article.col
                h6.title-block__description.grey-color 11 ноября
                h4.title-news
                    a(href='#') Горячие напитки в «Шоколаднице» с 50% скидкой!