.care.promo-app.loaded-block
    .care__wrap.container.promo-block
        .care__content
            h1.title-block__title
                | R-Connect:
                br
                | признанное удобство
            .mortgage__block-buttons
                .app-button
                    a(href='#')
                        img(src='common/new/images/Download_on_the_App_Store_Badge_RU_135x40.svg')
                .app-button
                    a(href='#')
                        img(src='common/new/images/google-play.svg')
                .app-button
                    a(href='#')
                        img.ms-badge(src='common/new/images/Russian_get_it_from_MS_InvariantCulture_Default.png')

        .care__phone
            .phone-elements
            .phone-container
                .cp.cp-1(style='background-image: url(common/new/images/screen01.png)').show-app
                .cp.cp-2(style='background-image: url(common/new/images/screen02.png)').off-app
                .cp.cp-3(style='background-image: url(common/new/images/screen03.png)').off-app
                .cp.cp-4(style='background-image: url(common/new/images/screen04.png)').off-app
                .cp.cp-5(style='background-image: url(common/new/images/screen05.png)').off-app
                .cp.cp-6(style='background-image: url(common/new/images/screen06.png)').off-app
