.container-grey.loaded-block
    .b-card-list
        .b-card-list__container.container
            .b-card-list__slider-arrows
                .slider-prev
                    svg.slider-arrow-svg
                        use(xlink:href='common/new/icons/icons.svg#icon-arrow-right')
                .slider-next
                    svg.slider-arrow-svg
                        use(xlink:href='common/new/icons/icons.svg#icon-arrow-left')
            .b-card-list__slider.welcome-slider-1
                a.b-card-list__item-2(href='')
                    .b-card-list__item-main-icon
                        svg.b-card-list__main-icon-svg
                            use(xlink:href='common/new/icons/icons.svg#icon-money')

                    .b-card-list__item-group
                        .b-card-list__item-title
                            h2.info-blocks__title Выбрать карту
                        .b-card-list__item-desc
                            .cols.cols2
                                .col
                                    h3.property__title 3%
                                    p.property__description максимальный cashback по депозитным картам
                                .col
                                    h3.property__title 25
                                    p.property__description компаний-партнеров по всей России

                a.b-card-list__item-2(href='')
                    .b-card-list__item-main-icon
                        svg.b-card-list__main-icon-svg
                            use(xlink:href='common/new/icons/icons.svg#icon-pig')
                    .b-card-list__item-group
                        .b-card-list__item-title
                            h2.info-blocks__title Открыть вклад
                        .b-card-list__item-desc
                            .cols.cols2
                                .col
                                    h3.property__title 13%
                                    p.property__description максимальная ставка по рублевым вкладам
                                .col
                                    h3.property__title 25
                                    p.property__description партнеров по всей России

                a.b-card-list__item-2(href='')
                    .b-card-list__item-main-icon
                        svg.b-card-list__main-icon-svg
                            use(xlink:href='common/new/icons/icons.svg#icon-people')
                    .b-card-list__item-group
                        .b-card-list__item-title
                            h2.info-blocks__title Премиальное обслуживание
                        .b-card-list__item-desc
                            .cols
                                .col
                                    p.property__description «Лучший банк для премиальногообслуживания»


                a.b-card-list__item-2(href='')
                    .b-card-list__item-main-icon
                        svg.b-card-list__main-icon-svg
                            use(xlink:href='common/new/icons/icons.svg#icon-money2')
                    .b-card-list__item-group
                        .b-card-list__item-title
                            h2.info-blocks__title Получить кредит
                        .b-card-list__item-desc
                            .cols.cols2
                                .col
                                    h3.property__title 7,9%
                                    p.property__description минимальная ставка по рублевым вкладам
                                .col
                                    h3.property__title 25
                                    p.property__description партнеров по всей России