//
   Created by jenya on 26.05.17.

.welcome-banner
    .video-intro
        video#bgvid-intro(preload='metadata', loop, muted, webkit-playsinline, playsinline)
            source(src='common/new/images/cat_raw-2.mp4')
            source(src='common/new/images/cat_raw.webm')
    .mortgage-wrapper
        .mortgage-intro.container
            .mortgage-intro__block
                .mortgage__block-content.mortgage-welcome
                    h6.title-block__description.grey-color
                        span.step Быть ближе к мечте
                    h1.title-block__title
                        | Комфортная
                        br
                        | ипотека
                    .block-content__description
                        .property
                            .property__block
                                h3.property__title 11,5%
                                p.property__description минимальная ставка обслуживания с Группой ОПИН

                        .property
                            .property__block
                                h3.property__title 9 600 &#8381;
                                p.property__description минимальный ежемесячный платеж

                        .property
                            a(href='#11')
                                .property__block.highlighted
                                    h3.property__title 8%
                                    p.property__description минимальная ставка в 1-й год обслуживания Группой ОПИН

                    .mortgage__block-buttons
                        a.button(href='#23') Оставить заявку