footer.footer.loaded-block
  .footer__content
    .footer__top.cols.cols3
      .footer__phones.col
        .footer__phones-1
          .footer__number
            a(href='tel:+74957219100').phone-link +7 495 721 91 00
          .footer__number-desc.grey-color
            span для звонков по Москве
        .footer__phones-2
          .footer__number
            a(href='tel:88007009100').phone-link 8 800 700 91 00
          .footer__number-desc.grey-color
            span для звонков из других регионов
      .footer__links.col
        ul
          li
            a(href='') Пресс-Центр
          li
            a(href='') О банке
          li
            a(href='') Аналитика
          li
            a(href='') Инвесторам
      .footer__links.col
        ul
          li
            a(href='') Карьера в банке
          li
            a(href='') Контактная информация
          li
            a(href='') Качество обслуживания
    .footer__bottom.cols.cols3.grey-color
      .footer__socials.col.col_right
        a(href='')
          i.fa.fa-facebook
        a(href='')
          i.fa.fa-vk
        a(href='')
          i.fa.fa-twitter
        a(href='')
          i.fa.fa-paper-plane-o
        a(href='')
          i.fa.fa-instagram
      .footer__copyright.col
        p © 2003 – 2016 АО «Райффайзенбанк»
        p
          |Генеральная лицензия Банка России № 3292
          br
          |от 17.02.2015
      .footer__info.col
        ul
          li
            a(href='')
              |Информация о максимальных процентных ставках
              br
              | по вкладам физических лиц
          li
            a(href='') Центр раскрытия корпоративной информации
          li
            a(href='')
              |Раскрытие информации в соответствии с Указанием
              br
              |Банка России от 28.12.2015 года № 3921-У
