doctype html
head
    title Карты
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset='windows-1251')
    link(rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel="stylesheet" href="common/new/styles/slick.css")
    link(rel="stylesheet" href="common/new/styles/normalize.css")
    link(rel="stylesheet" href="common/new/styles/jquery-ui.structure.min.css")
    link(rel="stylesheet" href="common/new/styles/main.css")
    link(rel="stylesheet" href="../headsupgrid/hugrid.css")

body.loading
    //Popup
    include common/new/page-elements-1/_popup-links
    include common/new/page-elements-1/_popup-numbers
    include common/new/page-elements-1/_popup-1
    //Page
    include common/new/page-elements/_header
    include common/new/page-elements/_menu

    .body-container
        .wrapper.cards-wrapper
            //include common/new/page-elements-sansay/_mortgage-tabs--cards
            include common/new/page-elements-1/_banner
            include common/new/page-elements-1/_cards
            //.tips.loaded-block
            //    .tips__wrap.container
            //        .tips__content
            //            .tips__title
            //                h3.tisp__title-content Уже есть кредитная карта
            //            .tips__links
            //                .tips__links-blocks
            //                    a.tips__links-block(href='')
            //                        span Льготный период кредитования
            //                    a.tips__links-block(href='')
            //                        span Контроль расхода средств
            //                    a.tips__links-block(href='')
            //                        span Пополнение и погашения задолженности
            //                    a.tips__links-block(href='')
            //                        span Увеличение кредитного лимита
            //                .tips__all
            //                    a(href="#3").all-recomendation Все рекомендации
            //include common/new/page-elements-1/_card-about
            include common/new/page-elements-1/_likes
            include common/new/page-elements-1/_footer
    //Preloader
    include common/new/page-elements/_spinner

    //Scripts
    script(src="common/new/scripts/jquery.min.js")
    script(src="common/new/scripts/jquery-ui.min.js")
    script(src="common/new/scripts/jquery.ui.touch-punch.min.js")
    script(src="common/new/scripts/flowtype.min.js")
    //script(src='common/new/scripts/isotope.pkgd.min.js')
    script(src="common/new/scripts/slick.min.js")
    script(src="../headsupgrid/hugrid.js")
    script(src="common/new/scripts/tabs.min.js")
    script(src="common/new/scripts/loadmore.min.js")
    script(src="common/new/scripts/main.min.js")

