//extends common/_layout
//
//block title
//    | aa
//
//block content
//    include common/page-elements-1/_popup-links
//    include common/page-elements-1/_popup-numbers
//    include common/page-elements-1/_popup-1
//    //Page
//    include common/page-elements/_header
//    include common/page-elements/_menu
//    .body-container
//        .wrapper.cards-wrapper
//            include common/page-elements-1/_banner
//            include common/page-elements-1/_cards
//
//            include common/page-elements-1/_likes
//            include common/page-elements-1/_footer
//    //Preloader
//    include common/page-elements/_spinner