doctype html
head
    title »потека
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset='windows-1251')
    link(rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel="stylesheet" href="common/styles/normalize.css")
    link(rel="stylesheet" href="common/styles/main.css")
    link(rel="stylesheet" href="../headsupgrid/hugrid.css")

body.loading
    //Popup
    include common/page-elements-1/_popup-links
    include common/page-elements-1/_popup-numbers
    //Page
    include common/page-elements/_header
    include common/page-elements/_menu
    .body-container
        include common/page-elements/_title-block
        include common/page-elements/_container
        include common/page-elements-1/_likes
        include common/page-elements-1/_footer
    //Preloader
    include common/page-elements/_spinner


    //Scripts
    script(src="common/scripts/jquery.min.js")
    script(src="common/scripts/flowtype.min.js")
    script(src="../headsupgrid/hugrid.js")
    script(src="common/scripts/main.min.js")
    script(src="common/scripts/loadmore.min.js")