extends common/_layout

include common/new/blocks/intro-block/intro-block
include common/new/blocks/main-block/main-block
include common/new/blocks/buttons/buttons
include common/new/blocks/tabs/tabs
include common/new/blocks/benefits/benefits
include common/new/blocks/care/care
include common/new/blocks/tips/tips


block title
    | ???????

block content
    include common/new/elements/popup-links
    include common/new/elements/popup-numbers
    include common/new/elements/popup-tarif

     //Page
    include common/new/page-elements/_header
    include common/new/page-elements/_menu
    include common/new/page-elements/_scroll-header

    .body-container
        .wrapper
            +intro-video('video', ['??? ?????', '???????'], '???????????????? ???????? ???? ??????', '???????? ???????? ??????? ?? ??????? ???????????? ? ???????????? ? ????????? ????? ?????, ??????? ??????? ??? ????? ???????? ? ?????????????.')
                +intro-desc
                    +intro-property('?????? ??????? ?? 23 ?????')
                        | 8,5%
                    +intro-property('???? ????????????')
                        | 1-25
                        +small-text('???')
                    +intro-property('???????????? ?????')
                        | 8,5%
                        +small-text('???. &#8381;')
                +intro-buttons
                    +btn('???????? ??????', '#33')
                    +btn-text('????? ?????????', '#44').find-department


            +tabs-ul('1', ['??? ????????', '?????? ? ???????', '???????????', 'dot', '??? ????????'])
            +tabs('1')

                +tab('1').current

                    +benefit-icons({
                        'bi-1.svg': '??? ????????????? ? ???????? ??????? ???',
                        'bi-2.svg': '???????????? ?????? ?? 2 ?? 5 ??????? ????',
                        'bi-3.svg': '??????? ???????????????? ??????????? ?? ?????'
                        })

                    +care('bg.jpg', '?? ????????? <br> ? ????? ???????!')
                        +btn('???????? ??????', '#33')
                        +btn-text('????? ?????????').find-department

                    +tips('??? ???? <br> ????????? ??????', '#44', '??? ????????????')
                        +tip('#33', '??????? ?? ?????? ???????????', 'PDF, 2 ??')
                        +tip('#34', '??????? ?? ????????? ?????????? ???????', 'PDF, 2 ??')
                        +tip('#35', '??????? ?? ?????????? ?????? ???????? ????? ????????? ????? ????????????? (????????? ?????)', 'PDF, 2 ??')

                +tab('2')






        include common/new/elements/likes/likes
        include common/new/elements/footer/footer

    include common/new/page-elements/_spinner

