doctype html
head

    title
        block title

    block meta
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(charset='windows-1251')
        link(rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel="stylesheet" href="common/new/styles/slick.css")
        link(rel="stylesheet" href="common/new/styles/normalize.css")
        link(rel="stylesheet" href="common/new/styles/jquery-ui.structure.min.css")
        link(rel="stylesheet" href="common/new/styles/main.css")
        link(rel="stylesheet" href="../headsupgrid/hugrid.css")

body.loading

    block content


    block scripts
        //Scripts
        script(src="common/new/scripts/jquery.min.js")
        script(src="common/new/scripts/jquery-ui.min.js")
        script(src="common/new/scripts/jquery.ui.touch-punch.min.js")
        script(src='common/new/scripts/jquery-numerator.js')
        script(src='common/new/scripts/inputmask.min.js')
        script(src='common/new/scripts/jquery.inputmask.min.js')
        script(src='common/new/scripts/inputmask.numeric.extensions.min.js')
        script(src="common/new/scripts/flowtype.min.js")
        //script(src='common/new/scripts/isotope.pkgd.min.js')
        script(src="common/new/scripts/datepicker-ru.js")
        script(src="common/new/scripts/slick.min.js")
        script(src="../headsupgrid/hugrid.js")
        script(src="common/new/scripts/tabs.min.js")
        script(src="common/new/scripts/loadmore.min.js")
        script(src="common/new/scripts/accordion.min.js")
        script(src="common/new/scripts/svg4everybody.legacy.min.js")
        script(src="common/new/scripts/main.min.js")
