.mortgage-tabs.loaded-block#tabs-1
    .container
        ul.tabs(data-tabgroup='tab-container-1')
            li.tab-link.current(data-tab='tab-1') О карте
            li.tab-link(data-tab='tab-2') Тарифы
            li.tab-link(data-tab='tab-3') Дистанционное управление
            li.tab-link(data-tab='tab-4') Вопрос-ответ

.mortgage-tab-container#tab-container-1
    #tab-1.tab-content
        include ../page-elements-1/_more-questions
    #tab-2.tab-content
        include _tarif
        include ../page-elements-1/_more-questions
    #tab-3.tab-content.current
        include _tabs_accordion--cards
    #tab-4.tab-content