.accordion__body-left.accordion__body--half
    h5.accordion__heading С помощью СМС-Банка вы сможете
    ul.popup-tarif__list--ul
        li.popup-tarif__list-item Получить информацию о последних покупках и переводах
        li.popup-tarif__list-item Узнать о доставке перевыпуещенных карт в отделении Раффайзен
        li.popup-tarif__list-item Узать дату и сумму внесения минимального ежемесячного платежа
    .accordion__body-navigation
        a.button(href='#24') Подключить
.accordion__body-sidebar.accordion__body--half.accordion__body-sidebar--normal
    h5.accordion__heading С помощью СМС-запроса сможете
    ul.popup-tarif__list--ul
        li.popup-tarif__list-item Узнать остаток средств по кредитной карте, в любое время дня и ночи
        li.popup-tarif__list-item Узнать список пяти последних операций по карте
        li.popup-tarif__list-item Оплатить мобильную связь
        li.popup-tarif__list-item Перевести деньги между своими картами