.container.half-margin
    .accordion.accordion--mobile-shown
        .accordion__section
            .accordion__head.active
                h2
                    span.accordion__icon
                        img(src='common/new/images/icon-internet-bank.svg')
                    | Интернет-банк

                .accordion__head-cross
                    img(src='common/new/images/close.svg')
            .accordion__body
                include _tab-section-content--cards
        .accordion__section
            .accordion__head
                h2
                    span.accordion__icon
                        img(src='common/new/images/icon-app.svg')
                    | Приложение

                .accordion__head-cross
                    img(src='common/new/images/close.svg')
            .accordion__body
                include _tab-section-content--cards
        .accordion__section
            .accordion__head
                h2
                    span.accordion__icon
                        img(src='common/new/images/icon-sms-bank.svg')
                    | СМС-Банк

                .accordion__head-cross
                    img(src='common/new/images/close.svg')
            .accordion__body
                include _tab-section-content--cards
        .accordion__section
            .accordion__head
                h2
                    span.accordion__icon
                        img(src='common/new/images/icon-teleinfo.svg')
                    | Телеинфо

                .accordion__head-cross
                    img(src='common/new/images/close.svg')
            .accordion__body
                include _tab-section-content--cards
        .accordion__section
            .accordion__head
                h2
                    span.accordion__icon
                        img(src='common/new/images/icon-info-center.svg')
                    | Инфо центр

                .accordion__head-cross
                    img(src='common/new/images/close.svg')
            .accordion__body
                include _tab-section-content--cards