.container
    .accordion.accordion--mobile-shown
        .accordion__head.active.loaded-block
            h2
                span.accordion__icon
                    img(src='common/new/images/icon-internet-bank.svg')
                | Интернет-банк

            .accordion__head-cross
                img(src='common/new/images/close.svg')
        .accordion__body.loaded-block
            include _tab-section-content--cards
        .accordion__head.loaded-block
            h2
                span.accordion__icon
                    img(src='common/new/images/icon-app.svg')
                | Приложение

            .accordion__head-cross
                img(src='common/new/images/close.svg')
        .accordion__body.loaded-block
            include _tab-section-content--cards
        .accordion__head.loaded-block
            h2
                span.accordion__icon
                    img(src='common/new/images/icon-sms-bank.svg')
                | СМС-Банк

            .accordion__head-cross
                img(src='common/new/images/close.svg')
        .accordion__body.loaded-block
            include _tab-section-content--cards
        .accordion__head.loaded-block
            h2
                span.accordion__icon
                    img(src='common/new/images/icon-teleinfo.svg')
                | Телеинфо

            .accordion__head-cross
                img(src='common/new/images/close.svg')
        .accordion__body.loaded-block
            include _tab-section-content--cards
        .accordion__head.loaded-block
            h2
                span.accordion__icon
                    img(src='common/new/images/icon-info-center.svg')
                | Инфо центр

            .accordion__head-cross
                img(src='common/new/images/close.svg')
        .accordion__body.loaded-block
            include _tab-section-content--cards